<header dir="ltr" class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="./logo2.png" height="30" class="me-3" alt="y&s">
        </h1>
        <div class="ms-auto">גלו למי אתם דומים</div>        
    </div>
</header>