<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.result) {%>
        <h1>יצאת</h1>
        <h1><%= result %></h1>

    <% } else { %>
        <h1>Error. Get out.</h1>
    <% } %>
    
</body>
</html>
